<div class="card p-5">

  <div class="flex justify-between items-center mb-5">

    <h2 class="m-0 text-xl font-bold">Registrar Perfil Módulo</h2>

    <div class="flex gap-2">
      <p-button label="Guardar"  (onClick)="save()" icon="pi pi-plus" class="p-button-primary"></p-button>
      <p-button label="Cancelar"  (onClick)="toBack()" icon="pi pi-times" severity="secondary"></p-button>
    </div>

  </div>


  <form [formGroup]="profileForm" class="grid grid-cols-2 gap-4">


    <div class="flex flex-col col-span-2">
      <label class="text-sm font-medium">Perfil </label>
      <p-select formControlName="profile" size="large" optionLabel="descripcion"  [options]="profiles"  placeholder="Perfil" class="w-full"></p-select>
    </div>

    <div *ngIf="profileForm.get('profile')?.value" class="flex">

      <p-button label="Generar Perfil Módulo" severity="success" class="mr-2" (onClick)="generateProfileModule()"/>
      <p-button label="Actualizar Perfil Módulo" severity="info" (onClick)="getTreeWithProfileModules()"/>

    </div>

    <div *ngIf="newTree.length > 0" class="col-span-2">

      <p-tree [value]="newTree" selectionMode="checkbox" styleClass="w-full md:w-[30rem]" [(selection)]="selectedItems" />

    </div>


  </form>

</div>
