<div class="card p-5">

  <div class="flex justify-between items-center mb-5">

    <h2 class="m-0 text-xl font-bold">Editar Servidor SMTP </h2>

    <div class="flex gap-2">
      <p-button label="Guardar"  (onClick)="save()" icon="pi pi-plus" class="p-button-primary"></p-button>
      <p-button label="Cancelar"  (onClick)="toBack()" icon="pi pi-times" severity="secondary"></p-button>
    </div>

  </div>


  <form [formGroup]="smtpServerForm" class="grid grid-cols-2 gap-4">

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Id server</label>
      <input pInputText formControlName="id_server_smtp" [readOnly]="true" pSize="large" placeholder="Id" class="w-full" />
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox formControlName="active" value="true" size="large"></p-checkbox>
      <label class="text-sm font-medium">Activo</label>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Nombre Servidor</label>
      <input pInputText  formControlName="name_server" pSize="large"  placeholder="Nombre Servidor" class="w-full" />
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Usuario</label>
      <input pInputText  formControlName="username" pSize="large"  placeholder="Usuario" class="w-full" />
    </div>


    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Contraseña</label>
      <input pInputText  formControlName="password" type="password" pSize="large"  class="w-full" />
    </div>


    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Puerto</label>
      <input pInputText formControlName="port" pSize="large" placeholder="puerto" class="w-full" />
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Host</label>
      <input pInputText formControlName="host" placeholder="host" pSize="large" class="w-full" />
    </div>

  </form>

</div>
