<div class="card">

  <!-- Header Section -->
  <div class="flex justify-between align-items-center mb-3">
    <h2 class="m-0">Parámetros Generales</h2>
  </div>

  <!-- <div class="flex justify-end align-items-center">
    <div class="">
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button label="Acciones" styleClass="black" (click)="menu.toggle($event)" icon="pi pi-angle-down" [disabled]="!selectedParameters || !selectedParameters.length"/>
    </div>


  </div> -->

  <p-confirmDialog></p-confirmDialog>

  <p-table
    #dt2
    [value]="parameters"
    [(selection)]="selectedParameters"
    dataKey="parametro_Id"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '2rem' }"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [rowsPerPageOptions]="[ 10, 20]"
    [globalFilterFields]="['parametro_Id','codigo_Parametro', 'nombre_Parametro', 'valor_Principal','valor_Equivalente', 'valor_Minimo', 'valor_Maximo','activo']"
  >

    <ng-template #caption>


      <div class="flex justify-end">
        <p-iconField iconPosition="left">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </p-iconField>
      </div>

    </ng-template>

    <ng-template #header>
      <tr>
          <th style="width: 4rem">
              <p-tableHeaderCheckbox />
          </th>
          <th pSortableColumn="parametro_Id" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Id Parámetro
                  <p-sortIcon field="parametro_Id" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>

          <th pSortableColumn="codigo_Parametro" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Código Parámetro
                  <p-sortIcon field="codigo_Parametro" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>


          <th pSortableColumn="nombre_Parametro" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Nombre Parámetro
                <p-sortIcon field="nombre_Parametro" />
                <!-- <p-sortIcon field="names" />
                <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="valor_Principal" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Valor principal
              <p-sortIcon field="valor_Principal" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>


          <th pSortableColumn="valor_Equivalente" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Valor Equivalente
              <p-sortIcon field="valor_Equivalente" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th pSortableColumn="valor_Minimo" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Valor Mínimo
                  <p-sortIcon field="valor_Minimo" />
                  <!-- <p-sortIcon field="date" />
                  <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
              </div>
          </th>
          <th pSortableColumn="valor_Maximo" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Valor Máximo
                  <p-sortIcon field="valor_Maximo" />
                  <!-- <p-sortIcon field="balance" />
                  <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto" /> -->
              </div>
          </th>
          <th pSortableColumn="activo" style="min-width: 10rem">
            <div class="flex justify-between items-center">
              Activo
              <p-sortIcon field="activo" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th style="width: 4rem">
            Acciones
          </th>

      </tr>

      <tr>
        <th>

        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="parametro_Id"
                    placeholder="parametro_Id "
                    ariaLabel="Filter parametro_Id"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="codigo_Parametro"
                    placeholder="codigo_Parametro "
                    ariaLabel="Filter codigo_Parametro"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="nombre_Parametro"
                    placeholder="Buscar por nombre"
                    ariaLabel="Filter nombre_Parametro"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="valor_Principal"
                    placeholder="Buscar por valor principal"
                    ariaLabel="Filter valor_Principal"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="valor_Equivalente"
                    placeholder="Buscar por valor equivalente"
                    ariaLabel="Filter valor_Equivalente"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="valor_Minimo"
                    placeholder="Buscar por Valor Mínimo"
                    ariaLabel="Filter valor_Minimo"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="valor_Maximo"
                    placeholder="Buscar por Valor Máximo"
                    ariaLabel="Filter valor_Maximo"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="boolean" field="activo"></p-columnFilter>
        </th>

      </tr>
    </ng-template>

    <ng-template #body let-parameter>
        <tr>
            <td>
              <p-tableCheckbox [value]="parameter" />
            </td>
            <td>{{ parameter.parametro_Id }}</td>
            <td>{{ parameter.codigo_Parametro }}</td>
            <td>{{ parameter.nombre_Parametro }}</td>
            <td>{{ parameter.valor_Principal }}</td>
            <td>{{ parameter.valor_Equivalente }}</td>
            <td>{{ parameter.valor_Minimo }}</td>
            <td>{{ parameter.valor_Maximo }}</td>
            <td>

              <i
                      class="pi"
                      [ngClass]="{
                          'text-green-500 pi-check-circle': parameter.activo,
                          'text-red-500 pi-times-circle': !parameter.activo
                      }"
                  ></i>

            </td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editParameter(parameter)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteParameter(parameter)" />

              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>

</div>
