<div class="card">

  <!-- Header Section -->
  <!-- <div class="flex justify-between align-items-center mb-3">
    <h2 class="m-0">Numerador Documentos</h2>
  </div> -->

  <!-- <div class="flex justify-end align-items-center">
    <div class="">
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button label="Acciones" styleClass="black" (click)="menu.toggle($event)" icon="pi pi-angle-down" [disabled]="!selectedDocuments || !selectedDocuments.length"/>
    </div>

    <p-button label="Agregar" icon="pi pi-plus" (onClick)="createParameter()" styleClass="black"></p-button>

  </div> -->

  <p-confirmDialog></p-confirmDialog>

  <p-table
    #dt2
    [value]="documents"
    [(selection)]="selectedDocuments"
    dataKey="numeradoR_DOCUMENTO_ID"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '2rem' }"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [rowsPerPageOptions]="[ 10, 20]"
    [globalFilterFields]="['numeradoR_DOCUMENTO_ID', 'prefijo', 'numero', 'nombrE_MODULO', 'fechA_CREACION','active']"
  >

    <ng-template #caption>


      <div class="flex justify-between items-center">
        <h2 class="m-0">Numerador Documentos</h2>

        <p-iconField iconPosition="left">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </p-iconField>
      </div>

    </ng-template>

    <ng-template #header>
      <tr>
          <th style="width: 4rem">
              <p-tableHeaderCheckbox />
          </th>
          <th pSortableColumn="numeradoR_DOCUMENTO_ID" style="width: 4rem">
            <div class="flex justify-between items-center">
                  ID
                  <p-sortIcon field="numeradoR_DOCUMENTO_ID" />
                  <p-columnFilter type="text" field="numeradoR_DOCUMENTO_ID" display="menu" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="prefijo" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Prefijo
                <p-sortIcon field="prefijo" />
                <p-columnFilter type="text" field="prefijo" display="menu" />
                <!-- <p-sortIcon field="names" />
                <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="numero" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Número
              <p-sortIcon field="numero" />
              <p-columnFilter type="text" field="numero" display="menu" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th pSortableColumn="nombrE_MODULO" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Nombre Módulo
                  <p-sortIcon field="nombrE_MODULO" />
                  <p-columnFilter type="text" field="nombrE_MODULO" display="menu" />
                  <!-- <p-sortIcon field="date" />
                  <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
              </div>
          </th>

          <th pSortableColumn="active" style="min-width: 10rem">
            <div class="flex justify-between items-center">
              Activo
              <p-sortIcon field="active" />
              <p-columnFilter type="text" field="active" display="menu" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th style="width: 4rem">
            Acciones
          </th>

      </tr>

    </ng-template>

    <ng-template #body let-document>
        <tr>
            <td>
              <p-tableCheckbox [value]="document" />
            </td>
            <td>{{ document.numeradoR_DOCUMENTO_ID }}</td>
            <td>{{ document.prefijo }}</td>
            <td>{{ document.numero }}</td>
            <td>{{ document.nombrE_MODULO }}</td>
            <td>

              <i
                      class="pi"
                      [ngClass]="{
                          'text-green-500 pi-check-circle': document.active,
                          'text-red-500 pi-times-circle': !document.active
                      }"
                  ></i>

            </td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editDocument(document)" />
                <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteDocument(document)" /> -->

              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>

</div>
