:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --text-color: white!important;
    --background-page-paginator-selected: #9191e4 !important
}

