<div class="card">

  <!-- Header Section -->
  <div class="flex justify-between align-items-center mb-3">
    <h2 class="m-0">Países</h2>
  </div>

  <div class="flex justify-end align-items-center">
    <div class="">
      <p-menu #menu [model]="countries" [popup]="true" />
      <p-button label="Acciones" styleClass="black" (click)="menu.toggle($event)" icon="pi pi-angle-down" [disabled]="!selectedCountries || !selectedCountries.length"/>
    </div>

    <p-button label="Agregar" icon="pi pi-plus" (onClick)="createCountry()" styleClass="black"></p-button>

  </div>

  <p-confirmDialog></p-confirmDialog>

  <p-table
    #dt2
    [value]="countries"
    [(selection)]="selectedCountries"
    dataKey="id"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '2rem' }"
    [paginator]="true"
    [rowHover]="true"
    [rows]="20"
    [rowsPerPageOptions]="[ 20, 40]"
    [globalFilterFields]="['id', 'country_name', 'created_by_user', 'creation_date', 'updated_at','active']"
  >

    <ng-template #caption>


      <div class="flex justify-end">
        <p-iconField iconPosition="left">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Keyboard Search" />
        </p-iconField>
      </div>

    </ng-template>

    <ng-template #header>
      <tr>
          <th style="width: 4rem">
              <p-tableHeaderCheckbox />
          </th>
          <th pSortableColumn="id" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                  ID
                  <p-sortIcon field="id" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="country_name" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Nombre País
                <p-sortIcon field="country_name" />
                <!-- <p-sortIcon field="names" />
                <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="created_by_user" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Usuario Creación
              <p-sortIcon field="created_by_user" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th pSortableColumn="creation_date" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Fecha Creación
                  <p-sortIcon field="creation_date" />
                  <!-- <p-sortIcon field="date" />
                  <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
              </div>
          </th>
          <th pSortableColumn="updated_at" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Fecha Actualización
                  <p-sortIcon field="updated_at" />
                  <!-- <p-sortIcon field="balance" />
                  <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto" /> -->
              </div>
          </th>
          <th pSortableColumn="active" style="min-width: 10rem">
            <div class="flex justify-between items-center">
              Activo
              <p-sortIcon field="active" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th style="width: 4rem">
            Acciones
          </th>

      </tr>

      <tr>
        <th>

        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="id"
                    placeholder="ID"
                    ariaLabel="Filter id"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="country_name"
                    placeholder="Buscar por Nombre País"
                    ariaLabel="Filter country_name"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="created_by_user"
                    placeholder="Buscar por Usuario Creación"
                    ariaLabel="Filter created_by_user"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="creation_date"
                    placeholder="Buscar por Fecha Creación"
                    ariaLabel="Filter creation_date"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="updated_at"
                    placeholder="Buscar por Fecha Actualziación"
                    ariaLabel="Filter updated_at"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="boolean" field="active"></p-columnFilter>

        </th>

      </tr>
    </ng-template>

    <ng-template #body let-country>
        <tr>
            <td>
              <p-tableCheckbox [value]="country" />
            </td>
            <td>{{ country.id }}</td>
            <td>{{ country.country_name }}</td>
            <td>{{ country.created_by_user }}</td>
            <td>{{ country.creation_date }}</td>
            <td>{{ country.updated_at }}</td>
            <td>

              <i
                      class="pi"
                      [ngClass]="{
                          'text-green-500 pi-check-circle': country.active,
                          'text-red-500 pi-times-circle': !country.active
                      }"
                  ></i>

            </td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editCountry(country)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteCountry(country)" />

              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>

</div>
