<div class="card">

  <!-- Header Section -->
  <!-- <div class="flex justify-between align-items-center mb-3">
    <h2 class="m-0">Perfiles</h2>
  </div> -->

  <!-- <div class="flex justify-end align-items-center"> -->
    <!-- <div class="">
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button label="Acciones" styleClass="black" (click)="menu.toggle($event)" icon="pi pi-angle-down" [disabled]="!selectedProfiles || !selectedProfiles.length"/>
    </div> -->
<!--
    <p-button label="Agregar" icon="pi pi-plus" (onClick)="createUser()" styleClass="black"></p-button>

  </div>

  <p-confirmDialog></p-confirmDialog> -->

  <p-table
    #dt2
    [value]="profiles"
    [(selection)]="selectedProfiles"
    dataKey="perfiL_ID"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '2rem' }"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [rowsPerPageOptions]="[ 10, 20]"
    [globalFilterFields]="['perfiL_ID', 'descripcion', 'observacion','active']"
  >

    <ng-template #caption>


      <div class="flex justify-between items-center">

        <h2 class="m-0">Perfiles</h2>

        <p-iconField iconPosition="left">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </p-iconField>

        <p-button label="Agregar" icon="pi pi-plus" (onClick)="createUser()" styleClass="black"></p-button>

      </div>

    </ng-template>

    <ng-template #header>
      <tr>
          <th style="width: 4rem">
              <p-tableHeaderCheckbox />
          </th>
          <th pSortableColumn="perfiL_ID" style="min-width: 3rem">
            <div class="flex justify-between items-center">
                Id
                  <p-sortIcon field="perfiL_ID" />
                  <p-columnFilter type="text" field="perfiL_ID" display="menu" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="descripcion" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Descripción
                <p-sortIcon field="descripcion" />
                <p-columnFilter type="text" field="descripcion" display="menu" />

                <!-- <p-sortIcon field="names" />
                <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="observacion" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Observación
              <p-sortIcon field="observacion" />
              <p-columnFilter type="text" field="observacion" display="menu" />

              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th pSortableColumn="active" style="width: 3rem">
            <div class="flex justify-between items-center">
              Activo
              <p-sortIcon field="active" />
              <p-columnFilter type="text" field="active" display="menu" />

              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th style="min-width: 2rem">
            Acciones
          </th>

      </tr>

    </ng-template>

    <ng-template #body let-profile>
        <tr>
            <td>
              <p-tableCheckbox [value]="profile" />
            </td>
            <td>{{ profile.perfiL_ID }}</td>
            <td>{{ profile.descripcion }}</td>
            <td>{{ profile.observacion }}</td>
            <td>

              <i
                      class="pi text-green-500 pi-check-circle"
                      [ngClass]="{
                          'text-green-500 pi-check-circle': profile.activo == '1',
                          'text-red-500 pi-times-circle': profile.activo == '0'
                      }"
                  ></i>

            </td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProfile(profile)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProfile(profile)" />

              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>

</div>


