<div class="card">

  <!-- Header Section -->
  <div class="flex justify-between align-items-center mb-3">
    <h2 class="m-0">Empresas</h2>
  </div>
<!--
  <div class="flex justify-end align-items-center">
    <div class="">
      <p-menu #menu [model]="companies" [popup]="true" />
      <p-button label="Acciones" styleClass="black" (click)="menu.toggle($event)" icon="pi pi-angle-down" [disabled]="!selectedCompanies || !selectedCompanies.length"/>
    </div>

    <p-button label="Agregar" icon="pi pi-plus" (onClick)="createCompany()" styleClass="black"></p-button>

  </div> -->

  <p-confirmDialog></p-confirmDialog>

  <p-table
    #dt2
    [value]="companies"
    [(selection)]="selectedCompanies"
    dataKey="empresa_Id"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '2rem' }"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [rowsPerPageOptions]="[ 10, 20]"
    [globalFilterFields]="['empresa_Id','ruc_Empresa', 'nombre_Empresa', 'correo_Electronico','departamento','provincia','distrito', 'direccion_Empresa','telefono_Uno','telefono_Dos', 'tipo_Empresa','active']"
  >

    <ng-template #caption>


      <div class="flex justify-end">
        <p-iconField iconPosition="left">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Keyboard Search" />
        </p-iconField>
      </div>

    </ng-template>

    <ng-template #header>
      <tr>
          <th style="width: 4rem">
              <p-tableHeaderCheckbox />
          </th>
          <th pSortableColumn="empresa_Id" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                  ID Empresa
                  <p-sortIcon field="empresa_Id" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>


          <th pSortableColumn="ruc_Empresa" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                  RUC Empresa
                  <p-sortIcon field="ruc_Empresa" />

                <!-- <p-sortIcon field="clientNumber" />
                <p-columnFilter type="text" field="clientNumber" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="nombre_Empresa" style="min-width: 14rem">
            <div class="flex justify-between items-center">
                Nombre Empresa
                <p-sortIcon field="nombre_Empresa" />
                <!-- <p-sortIcon field="names" />
                <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="correo_Electronico" style="min-width: 14rem">
            <div class="flex justify-between items-center">
              Correo Electrónico
              <p-sortIcon field="correo_Electronico" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th pSortableColumn="direccion_Empresa" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Dirección Empresa
                <p-sortIcon field="direccion_Empresa" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>

          <th pSortableColumn="departamento" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Departamento
                <p-sortIcon field="departamento" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="provincia" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Provincia
                <p-sortIcon field="provincia" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>

          <th pSortableColumn="distrito" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Distrito
                <p-sortIcon field="distrito" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>

          <th pSortableColumn="telefono_Uno" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Teléfono uno
                <p-sortIcon field="telefono_Uno" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>
          <th pSortableColumn="telefono_Dos" style="min-width: 10rem">
            <div class="flex justify-between items-center">
                Teléfono dos
                <p-sortIcon field="telefono_Dos" />
                <!-- <p-sortIcon field="date" />
                <p-columnFilter type="date" field="date" display="menu" class="ml-auto" /> -->
            </div>
          </th>

          <th pSortableColumn="tipo_Empresa" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                  Tipo Empresa
                  <p-sortIcon field="tipo_Empresa" />
                  <!-- <p-sortIcon field="balance" />
                  <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto" /> -->
              </div>
          </th>
          <th pSortableColumn="active" style="min-width: 10rem">
            <div class="flex justify-between items-center">
              active
              <p-sortIcon field="active" />
              <!-- <p-sortIcon field="names" />
              <p-columnFilter type="text" field="names" display="menu" class="ml-auto" /> -->
          </div>
          </th>
          <th style="width: 4rem">
            Acciones
          </th>

      </tr>

      <tr>
        <th>

        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="empresa_Id"
                    placeholder="Id"
                    ariaLabel="Filter empresa_Id"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="ruc_Empresa"
                    placeholder="RUC"
                    ariaLabel="Filter ruc_Empresa"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="nombre_Empresa"
                    placeholder="Buscar por Nombre Empresa"
                    ariaLabel="Filter nombre_Empresa"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="correo_Electronico"
                    placeholder="Buscar por Correo Electrónico"
                    ariaLabel="Filter correo_Electronico"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="direccion_Empresa"
                    placeholder="Buscar por Dirección Empresa"
                    ariaLabel="Filter direccion_Empresa"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="departamento"
                    placeholder="Buscar por Departamento"
                    ariaLabel="Filter departamento"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="provincia"
                    placeholder="Buscar por Provincia"
                    ariaLabel="Filter provincia"
                ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
                    type="text"
                    field="distrito"
                    placeholder="Buscar por Distrito"
                    ariaLabel="Filter distrito"
                ></p-columnFilter>
        </th>


        <th>
          <p-columnFilter
                    type="text"
                    field="telefono_Uno"
                    placeholder="Buscar por Teléfono Uno"
                    ariaLabel="Filter telefono_Uno"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="telefono_Dos"
                    placeholder="Buscar por teléfono dos"
                    ariaLabel="Filter telefono_Dos"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter
                    type="text"
                    field="tipo_Empresa"
                    placeholder="Buscar por Tipo Empresa"
                    ariaLabel="Filter tipo_Empresa"
                ></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="boolean" field="active"></p-columnFilter>

        </th>

      </tr>
    </ng-template>

    <ng-template #body let-company>
        <tr>
            <td>
              <p-tableCheckbox [value]="company" />
            </td>
            <td>
              {{ company.empresa_Id}}
            </td>
            <td>{{ company.ruc_Empresa }}</td>
            <td>{{ company.nombre_Empresa }}</td>
            <td>{{ company.correo_Electronico }}</td>
            <td>{{ company.direccion_Empresa }}</td>
            <td>{{ company.departamento }}</td>
            <td>{{ company.provincia }}</td>
            <td>{{ company.distrito }}</td>
            <td>{{ company.telefono_Uno }}</td>
            <td>{{ company.telefono_Dos }}</td>
            <td>{{ company.tipo_Empresa }}</td>
            <td>

              <i
                      class="pi"
                      [ngClass]="{
                          'text-green-500 pi-check-circle': company.active ,
                          'text-red-500 pi-times-circle': !company.active
                      }"
                  ></i>

            </td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editCompany(company)" />
                <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteCompany(company)" /> -->

              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>

</div>
