<div class="card p-5">

  <div class="flex justify-between items-center mb-5">

    <h2 class="m-0 text-xl font-bold">Registrar perfil</h2>

    <div class="flex gap-2">
      <!-- <p-button label="Guardar"  (onClick)="save()" icon="pi pi-plus" class="p-button-primary"></p-button> -->
      <p-button label="Cancelar"  (onClick)="toBack()" icon="pi pi-times" severity="secondary"></p-button>
      <p-button label="Agregar" icon="pi pi-plus" (onClick)="save()" class="p-button-primary"></p-button>

    </div>

  </div>


  <form [formGroup]="profileForm" class="grid grid-cols-2 gap-4">


    <div class="flex items-center col-span-2">
      <p-checkbox formControlName="active" value="true" size="large"></p-checkbox>
      <label class="text-sm font-medium">Activo</label>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium">Descripción</label>
      <input pInputText  formControlName="description" pSize="large"  placeholder="Descripción" class="w-full" />
    </div>


    <div class="flex flex-col col-span-2">
      <label class="text-sm font-medium">Observación (*)</label>
      <input pInputText formControlName="observation" pSize="large" placeholder="Observación" class="w-full" />
    </div>


  </form>

</div>
